<div class="floating-header">
  <style type="text/css"> 
		.progress::-webkit-progress-value{
		    background-color:black !important;
		}
		.progress::-moz-progress-bar{
		    background-color:black !important;
		}
		.floating-header{
			height:initial !important; 
		}
		.progress, .progress-container{
			height:4px !important;
		}
		.progress{
			bottom:-4px !important;
		}
	</style>
  <progress class="progress" value="0">
    <div class="progress-container">
      <span class="progress-bar" style="background-color:black"></span>
    </div>
  </progress>
</div>
